body {
    background-color: #414141;
    background-image: url("../our_incredible_world_new_world_map.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#highScoreAndTimerRow {
    margin-top: 10px;
    margin-bottom: 10px;
}

#worldCapitalsTitle {
    background-color: #ffffffdc;
    float: left;
}

#contentBox, #boxTimer {
    background-color: #ffffffdc;
    border: 3px dashed #7c7c7c;
}

#welcome, #highScores {
    margin-bottom: 10px;
}

#initials {
    text-transform: uppercase;
}